.cartItems {
    width: 360px;
    margin: 15px auto;
    background-color: tan;
    border: solid;
    border-radius: 8px;
    box-shadow: 5px 5px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cartItems:hover {
    transform: translateY(-5px);
}

.allCartItems {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.returnToStore {
    background-color: lightgray;
    border-radius: 5px;
}